@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 10px;
    border: 10px;
    margin: 10px;
    
}
.main{
    text-align: center;
    height: 10px;
    border: 10px;
    margin: auto;
    display:grid;
    grid-template-columns: 1000px;
    grid-template-rows: 50px;
    
}
.box{

    height: 100%;
    display: flex;
}
.h2{
    font-size: 30px;
    color: hsl(158, 36%, 37%);
    text-align: left;
    display: inline;

}
#h4 {
    ;
}