h1{
    background-color: rgb(160, 245, 217);
   
}
body{
    background: no-repeat;
    background-size: 10%;
    background-image: url(https://images.adsttcom/media/images/6605/ad39/ac59/6f34/863b/1d83/newsletter/industry-lanes-building-architectus_1.jpg?1711648085)
}
.p{

}
